body{
    background-image: url(https://wallpapersmug.com/download/3840x2160/f558c2/christmas-ornaments-decorations-holiday.jpg);
    background-size: cover;
}

#q{
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    border: 5px solid rgb(0, 255, 170);
    border-radius: 5px;
    background-color: gold;
    color:blue
}

h4{
    text-align: center;
    color: red;
}

#intro{
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    border: 5px solid rgb(0, 255, 170);
    border-radius: 10px;
}

h1{
    text-align: center;
    color: rgb(124, 89, 0);
}

p{
    text-align: center;
    color: blue;
}

button{
    padding: 10px;
    margin-left: 300px;
    border-radius: 5px;
    background-color: darkred;
    border-color: white;
    color: thistle;
}

#thx{
    background-color: thistle;
    margin-left: none;
    border: 5px solid burlywood;
    margin-left: 650px;
    margin-right: 650px;
    padding-top: 1px;
    padding-top: 1px;
}